.footer {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    position: relative;
    margin-top: 25px;
}

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 35px 45px;
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    width: 170px;
    height: 25px;
    background-color: center;
    border: 0px solid #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 1500px;
}

.link:hover {
    background-color: #fff;
    color: #000;
}

.phone {
    padding-right: 1500px;
    padding-bottom: 35px;
}

.phoneText {

    margin: -35px;
    font-size: 25px;
}

